<ul class="main-menu">
  <li>
    <a href="/" class="<%= activePage==='main'?'active':'' %>">Головна</a>
  </li>
  <li>
    <a href="/products" class="<%= activePage==='products'?'active':'' %>"
      >Товари</a
    >
  </li>
  <li>
    <a href="/about" class="<%= activePage==='about'?'active':'' %>"
      >Про програму</a
    >
  </li>
</ul>
